body {
    height: 125vh;
    font-family: sans-serif;
  background-color: lightskyblue;
}
.menu-container{
  display: block;
  margin-top: 10px;
  height: 80px;
}
.offer{
  color:red
}
.dropbtn {
  background-color: lightskyblue;
  color: white;
  font-style: ;
  padding: 16px;
  font-size: 16px;
  border: solid 1px;
  cursor: pointer;
  margin: 10px
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .drop-link {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .drop-link:hover {background-color: powderblue}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: lightskyblue;
}
#root {
  margin-top: 30px;
  padding: 30px;
}
.leaflet-container {
  width: 75%;
  height: 75vh;
}
.navLink {
    display: inline;
}
.edit-button {
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
}
.edit-button:hover {
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	background-color:#468ccf;
}
.edit-button:active {
	position:relative;
	top:1px;
}
.logo-container {
    background-color: lightskyblue;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;


}
.logo-container * {
    display: inline;


}
.logo {
  height: 80px;
  width: 80%;
margin-left: 10%;
margin-right: 15%;
}

.rest-pic{
  height: 300px;
  width: 300px;
}
.rest-pic:hover{
  opacity: 0.8;
  cursor: pointer
}
.component-list {
  display: flex;
  flex-wrap: wrap;

}
.link  {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 10px;
  width:10%;
  border: 1px solid purple;
}
.component {
  margin: 20px;
  padding: 10px;
  width: 300px;
  border: 1px solid papayawhip;
}
.component-item{
  display: inline;

}
p {
  font-size: 18px,

}

form label {
  min-width: 250px;
  font-size: 19px;
  display: inline-block;


}

form input,select {
  font-size: 18px;

}
.form-container{
  margin: 20px;
  padding: 10px;
  width: 500px;
  border: 1px solid black;

}
.form_wrap {
  display: block;
  margin-bottom: 20px;


}

form input[type="submit"] {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  background: white;
  color: black;

}

form input[type="submit"]:hover,
form input[type="submit"]:focus,
form input[type="submit"]:active {
  outline: none;
  background: darkblue;
}
