body {
    height: 125vh;
    font-family: sans-serif;
  background-color: ghostWhite;
}
#root {
  margin-top: 30px;
  padding: 30px;
}
.navLink {
    display: inline;
}
header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
     display: flex;
     align-items: center;
}
header * {
    display: inline;
}
header img {
  height: 80px;
margin-left: 40px;
}
header li {
    margin: 20px;
}
.component-list {
  display: flex;
  flex-wrap: wrap;
}
.component {
  margin: 20px;
  padding: 10px;
  width: 300px;
  border: 1px solid black;
}
.component-item{
  display: inline;
}
form, p {
  font-size: 18px;
}

form label {
  min-width: 250px;
  display: inline-block;
}

form input {
  font-size: 18px;
}

.form_wrap {
  display: block;
  margin-bottom: 20px;
}

form input[type="submit"] {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  background: #000;
  color: #fff;
}

form input[type="submit"]:hover,
form input[type="submit"]:focus,
form input[type="submit"]:active {
  outline: none;
  background: #333;
}
